
.odd{
    background-color: rgb(255, 192, 203);
    font-family: Verdana, "DejaVu Sans", sans-serif;
}
#one{
    color: blue;
    font-size: 36px;
}
#four{
    background-color: rgb(144, 238, 144);
    font-size: 24px;
    font-weight: bold;
}
.font{font-size: 24px;}